---
layout: default
title: Contact
---
<a href="{{site.url}}" id="homelink"><i class="ion-ios-arrow-left"></i></a>

<div id="content contact" role="main">
	<article class="page type-page status-publish hentry">
		<div class="contact-content" style="display: none !important;"></div>
		<section class="section swatch-white-red section-normal ">
			<div class="background-media"></div>
			<div class="background-overlay" style=""></div>
			<div class="container">
				<div class="row vertical-top">
					<div class="col-md-12  text-default text-center">
						<header class="section-header text-center no-underline">
							<h1 class="headline regular">Contact</h1>
						</header>
						<form action="https://formspree.io/servicefactory@digipolis.gent" method="POST">
							<h2>Ik wil meedoen aan project</h2>
							<label>Project</label>
							<select name="projects" id="selectProject">
								{% if site.posts.size > 0 %}
									{% for post in site.categories.project %}
										<option value="{{post.title}}">{{post.title}}</option>
									{% endfor %}
                               	{% endif %}
							</select>
							<br>
							<label>E-mail</label>
							<br>
							<input type="email" name="_replyto">
							<br>
							<label>Plan van aanpak project</label>
							<br>
							<textarea name="h" cols="60" rows="10"></textarea>

							<button type="submit" value="Send"  class="contactformbutton">Send</button>
							<input type="hidden" name="_next" value="contact/thanks.html"/>
							<input type="text" name="_gotcha" style="display:none" />
							<input type="hidden" name="_subject" value="Contactform Lab9K" />
						</form>
					</div>
				</div>
			</div>
		</section>
	</article>
</div>

<script>
	window.onload=function(){
	    function querySt(ji) {
	        hu = window.location.search.substring(1); 
	        gy = hu.split("&");

	        for (i=0;i<gy.length;i++) { 
	            ft = gy[i].split("="); 
	            if (ft[0] == ji) { 
	                return ft[1]; 
	            } 
	        } 
	    } 
	    var fieldName = decodeURIComponent(querySt("project"));
	    if( fieldName==null){ 
	    }
	    else{ 
	        var selectObj = document.getElementById('selectProject')
	        for (var i = 0; i < selectObj.options.length; i++) {
	            if (selectObj.options[i].text == fieldName) {
	                selectObj.options[i].selected = true;
	                return;
	            }
	        }
	    } 
	} 
</script>


