<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="footer-sections">
            <div class="footer-section contact">
                <h3>Contact</h3>
                <ul>
                    <li><i class="fa fa-map-marker"></i>Adres 123, 9000 Gent</li>
                    <li><i class="fa fa-phone"></i>+32 487 654 321</li>
                </ul>
                <div class="social-media-icons">
                    <div class="center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer-section be-informed">
                <h3>Be informed</h3>
                <p>Eu ea veniam deserunt officia voluptate culpa ullamco officia exercitation reprehenderit est. Anim sunt minim excepteur dolor.</p>
                <form action="">
                    <input type="text" placeholder="E-mail">
                    <input type="submit" value="Subscribe">
                </form>
            </div>

            <div class="footer-section partners">
                <h3>Partners</h3>
                <a href="https://digipolis.be" target="_blank"><img src="/images/partners/digipolis.png"></a>
            </div>
        </div>
    </div>
</footer>